<h1>Tweets</h1>

<%= link_to "Login", new_session_path unless authenticated? %>
<%= link_to "New tweet", new_tweet_path if authenticated? %>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <div>
      <%= link_to tweet.body, tweet_path(tweet.id) %>
      by
      <%= tweet.user.name %>
    </div>
  <% end %>
</div>
