<h1><%= @tweet.body %></h1>

<%= link_to "Back", tweets_path %>
<% if authenticated? %>
  <%= link_to "Edit", edit_tweet_path(@tweet) %>
  <%= button_to "Delete", @tweet, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>
